label {
  margin: 0 10px;
}

.green {
  background-image: none;
  background-color: #00cc00;
  color: #000000;
}

.red {
  background-color: #c8102e;
  color: #ffffff;
}

.orange {
  background-color: #ff671f;
  color: #000000;
}

.yellow {
  background-color: #f7ea48;
  color: #000000;
}

.purple {
  background-color: #3c009c;
  color: #ffffff;
}
